<div id="<%= dom_id collection_item %>">
  <p>
    <strong>Color:</strong>
    <%= collection_item.color %>
  </p>

  <p>
    <strong>Palette:</strong>
    <%= collection_item.palette %>
  </p>

  <p>
    <strong>Contrast:</strong>
    <%= collection_item.contrast %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= collection_item.style %>
  </p>

  <p>
    <strong>Body Type:</strong>
    <%= collection_item.body_type %>
  </p>
</div>