<%=  form_with(model: [
    @product,
    @collection_item
  ] ) do |form| %>
  <div class="pb-4">
    <p class="block font-semibold text-gray-900 py-2">Color Palettes:</p>
    <div class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
      <% PALETTES.each do |pal| %>
        <div>
          <%= form.check_box(:palette, { :multiple => true }, pal, nil) %>
          <%= form.label pal %> <br>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pb-4">
    <p class="block font-semibold text-gray-900 py-2">Contrasts:</p>
    <div class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
      <% CONTRASTS.each do |contrast| %>
        <div>
          <%= form.check_box :contrast, { :multiple => true }, contrast, nil %>
          <%= form.label contrast %> <br>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pb-4">
    <p class="block font-semibold text-gray-900 py-2">Styles:</p>
    <div class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
      <% STYLES.each do |style| %>
      <div>
        <%= form.check_box :style, { :multiple => true }, style, nil %>
        <%= form.label style %> <br>
      </div>
      <% end %>
    </div>
  </div>

  <div class="pb-4">
    <p class="block font-semibold text-gray-900 py-2">Body Types:</p>
    <div class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
      <% BODY_TYPES.each do |body_type| %>
      <div>
        <%= form.check_box :body_type, { :multiple => true }, body_type, nil %>
        <%= form.label body_type %> <br>
      </div>
      <% end %>
    </div>
  </div>

  <ul class="py-4 flex items-center">
      <li class="pr-4"><%= form.submit 'Save to My Collection', class: "btn-primary" %></li>
      <li class="pr-4"><%= link_to 'Cancel', :back, class: "btn-secondary" %></li>
  </ul>
<% end %>