<h1>LookManager</h1>

<div class="pb-4">
  <% if user_signed_in? %> 
    <div class="pb-2"> Welcome, <%= current_user.first_name %> </div>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn-secondary' %> 
  <% else %>
    <%= button_to "Sign in", new_user_session_path %> 
  <% end %>
</div>

<ul class="flex py-4 flex-wrap">
  <li class="my-2 mr-4"><%= link_to "New Product", new_product_path, class: 'link-primary' %></li>
  <li class="my-2 mr-4"><%= link_to "All Products", products_path, class: 'link-primary' %></li>
  <li class="my-2 mr-4"><%= link_to "My Collection", collection_path, class: 'link-primary' %></li>
</ul>