<div id="<%= dom_id product %>">
  <div class="grid gap-1 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 p-2 my-4 bg-gray-50 drop-shadow">
    <% product.images.each do |image| %>
      <img src="<%= image %>" >
    <% end %>
  </div>

  <p class="text-sm font-medium text-gray-700">
    <%= link_to product.store.upcase, "https://#{product.store_url}", :target => "_blank", class: 'underline underline-offset-4 hover:text-gray-500' %> • <%= product.brand.upcase %>
  </p>
  <h3 class="pb-1 text-xl text-semibold underline underline-offset-4 text-gray-950 hover:text-gray-500">
    <%= link_to product.name, product.url, :target => "_blank" %>
  </h3>

  <div class="pb-1">
    <% if product.old_price.present? %>
      <span class="line-through"><%= product.currency %> <%= product.old_price %></span> <br />
    <% end %>

    <span class="font-medium"><%= product.currency %> <%= product.price %></span> <br />

    <span class="font-light text-sm">(<%= product.installment_quantity %>x of <%= product.currency %> <%= product.installment_value %>)</span>
  </div>

  <p class="pb-1">
    <strong>Last updated:</strong>
    <%= time_ago_in_words(product.updated_at) + " ago" %>
  </p>

  <p class="pb-1">
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p class="pb-1">
    <strong>Description:</strong>
    <%= simple_format(product.description) %>
  </p>

  <p class="pb-1">
    <strong>Available:</strong>
    <%= product.available ? "Yes" : "No" %>
  </p>

  <%# # TODO: Add sizes %>
  <% if product.sizes.length > 0 %>
    <div class="pb-1">
      <strong>Sizes:</strong>
      <ul class="flex flex-wrap gap-1">
        <% product.sizes.each do |size| %>
          <li class="pr-4"><%= link_to size['size'] + ": " + (size['available'] ? "Available" : "Not Available"), "https://"+size['url'], target: '_blank', class: "link-primary" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
