<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= product.store %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= product.url %>
  </p>

  <p>
    <strong>Store url:</strong>
    <%= product.store_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Old price:</strong>
    <%= product.old_price %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Installment quantity:</strong>
    <%= product.installment_quantity %>
  </p>

  <p>
    <strong>Installment value:</strong>
    <%= product.installment_value %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= product.available %>
  </p>

</div>
