<h1>Product Information</h1>
<p>Name: <%= @product.name %></p>
<p>Brand: <%= @product.brand %></p>
<p>SKU: <%= @product.sku %></p>
<p>Description: <%= @product.description %></p>
<p>Price:  <span style="text-decoration: line-through;"><%= @product.old_price %></span> <span><%= @product.price %></span></p>
<p>Installments: <%= @product[:installment_quantity] %>x of <%= @product.currency %><%= @product.installment_value %></p>
<p>Available: <%= @product.available %></p>
<p>Images:</p>
<% @product.product_images.each do |image| %>
  <img src="<%= image.url %>" style="max-width:30vw">
<% end %>