<h1>Product Information</h1>
<% @product.images.each do |image| %>
  <img src="<%= image %>" style="max-width:15vw">
<% end %>
<p>Name: <%= @product.name %></p>
<p>Brand: <%= @product.brand %></p>
<p>SKU: <%= @product.sku %></p>
<p>Description: <%= @product.description %></p>
<p>Price:  <span style="text-decoration: line-through;"><%= @product.old_price %></span> <span><%= @product.price %></span></p>
<p>Installments: <%= @product[:installment_quantity] %>x of <%= @product.currency %><%= @product.installment_value %></p>
<p>Available: <%= @product.available %></p>

<h2>Classify this product so you can find it easily and recommend it to your clients:</h2>
<%= form_with model: [ @product, @product.collection_items.build ] do |f| %>
  <p>
    <%= f.label :palette %>
    <p>
      <% PALETTES.each do |pal| %>
        <%= f.check_box :palette, { :multiple => true }, pal, nil %>
        <%= f.label pal %> <br>
      <% end %>
    </p>
  </p>

  <p>
    <%= f.label :contrast %>
    <p>
      <% CONTRASTS.each do |contrast| %>
        <%= f.check_box :contrast, { :multiple => true }, contrast, nil %>
        <%= f.label contrast %> <br>
      <% end %>
    </p>
  </p>

  <p>
    <%= f.label :style %>
    <p>
      <% STYLES.each do |style| %>
        <%= f.check_box :style, { :multiple => true }, style, nil %>
        <%= f.label style %> <br>
      <% end %>
    </p>
  </p>

  <p>
    <%= f.label :body_type %>
    <p>
      <% BODY_TYPES.each do |body_type| %>
        <%= f.check_box :body_type, { :multiple => true }, body_type, nil %>
        <%= f.label body_type %> <br>
      <% end %>
    </p>
  </p>
    
  <p>
    <%= f.submit 'Save Categories' %>
  </p>
<% end %>