<h1>Product Information</h1>
<% @product.images.each do |image| %>
  <img src="<%= image %>" style="max-width:15vw">
<% end %>
<p>Name: <%= @product.name %></p>
<p>Brand: <%= @product.brand %></p>
<p>SKU: <%= @product.sku %></p>
<p>Description: <%= @product.description %></p>
<p>Price:  <span style="text-decoration: line-through;"><%= @product.old_price %></span> <span><%= @product.price %></span></p>
<p>Installments: <%= @product[:installment_quantity] %>x of <%= @product.currency %><%= @product.installment_value %></p>
<p>Available: <%= @product.available %></p>

<h2>Classify this product so you can find it easily and recommend it to your clients:</h2>
<%= form_with model: [ @product, @product.collection_items.build ] do |f| %>
  <p>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.label :palette %>
    <p>
      <%= [
        'Verão Claro',
        'Verão Frio',
        'Verão Suave',
        'Primavera Clara',
        'Primavera Quente',
        'Primavera Brilhante',
        'Inverno Frio',
        'Inverno Brilhante',
        'Inverno Escuro',
        'Outono Suave',
        'Outono Quente',
        'Outono Escuro',
      ].each do |pal| %>
        <%= f.check_box pal, { :multiple => true }, pal, nil %>
        <%= f.label pal %> <br>
      <% end %>
    </p>

  </p>
  <p>
    <%= f.label :contrast %>
    <%= f.select :contrast, [
      'Alto',
      'Médio',
      'Baixo',
    ] %>
  </p>
  <p>
    <%= f.label :style %>
    <%= f.select :style, [
      'Casual',
      'Moderno',
      'Elegante',
      'Romântico',
      'Sensual',
      'Clássico',
      'Criativo',
    ] %>
  </p>
  <p>
    <%= f.label :body_type %>
    <%= f.select :body_type, [
      'Triângulo',
      'Triângulo Invertido',
      'Ampulheta',
      'Oval',
      'Retângulo',
    ] %>
    </p>
  <p>
    <%= f.submit 'Save Categories' %>
  </p>
<% end %>